<div class="bgc-header">
	<div class="container">
		<div class="row">
			<div class="col-md-3 text-center">
				<div class="row">
					<div class="col-md-12 col-xs-4">
						<%= link_to root_path do %>
							<div >
								<%= image_tag("the_real_copy.jpg", class: "img-responsive") %>
							</div>
							<div class="pull-right">
								<%= image_tag("Adamits_logo.jpg", class: "img-responsive") %>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-2">
				<div class="row">
					<div class="col-xs-4 c-white header-option-hover text-left">
						<%= link_to resume_path do %>
							<div class="pv-4">
								Resume
							</div>
						<% end %>
					</div>
					<div class="col-xs-4 c-white header-option-hover text-left">
						<%= link_to about_path do %>
							<div class="pv-4">
								About
							</div>
						<% end %>
					</div>
					<div id="Admin" class="col-xs-4 c-white header-option-hover text-left">
						<%= link_to "#" do %>
							<div class="pv-4">
								Admin
							</div>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-0 col-xs-6 col-xs-offset-3 pa-4">
			      <%= form_tag search_posts_path, { method: :get } do %>
			        <%= text_field_tag :search, nil, {placeholder: "search...", class: 'ph-2 fit-parent'} %>
			      <% end %>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
