<!DOCTYPE html>
<html>
<head>
  <title>Adamits</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/header" %>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
	<div class="container pb-6 ph-4">
		<%= yield %>
	</div>
	<!-- POPUP SIGN-IN -->
  <div id="sign-in-screen">
    <div id="sign-in-popup">
      <button id="sign-in-close">
        <%= image_tag("close.jpg") %>
      </button>
      <% unless current_user %>
        <%= render partial: "devise/sessions/new" %>
      <% else %>
        <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
      <% end %>
    </div>
  </div>
</body>
</html>
